.about {
  min-height: calc(100vh - var(--header-height));
  background-color: black;
  color: #eee;
  padding: 80px 40px 10px;
}

/* ------------------------------- */
.buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.langbut,
.backbut {
  position: fixed;
  background: #0000ff;
  font-family: var(--space-font);
  color: #f0ecf1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 5;
  right: var(--padding);
  width: 60px;
  height: 60px;
  font-size: 1.6em;
  border: none;
  cursor: pointer;
}
.langbut {
  top: var(--padding);
}
.backbut {
  bottom: var(--padding);
}

/* ------------------------------- */
.individual {
  font-family: var(--space-font);
  margin-bottom: 80px;
}
.individual h3 {
  padding-bottom: 20px;
  font-size: 3em;
  font-weight: 400;
}
.individual p {
  padding-left: 2em;
  font-size: 2em;
  font-weight: 300;
}


@media (max-width: 600px) {
  .individual h3 {
    font-size: 2.6em;
  }
  .individual p {
    padding-left: 0;
    font-size: 1.4em;
  }
}