.docuParags {
  position: relative;
  width: 100vw;
  color: #eee;
  padding-top: 120px;
}
.docuGallery {
  width: 100vw;
  padding: 0 var(--padding);
}
.docuCredits {
  font-family: var(--sans-font);
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 60px;
  margin-right: auto;
  padding-left: var(--padding);
}
.docuCredits > p {
  margin-bottom: 0.5em;
}
.docuCredits b {
  font-weight: 500;
}


@media (max-width: 799px) {
  .docuParags {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
  }
  .docuGallery {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .docuCredits {
    font-size: 1.1em;
  }
}