.docuParags {
  position: relative;
  width: 100vw;
  color: #eee;
  padding-top: 120px;
}
.docuGallery {
  width: 100vw;
  padding: 0 var(--padding);
}


@media (max-width: 799px) {
  .docuParags {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
  }
  .docuGallery {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}