.landing, .more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-height) 0;
  min-height: 100vh;
}
.landing {
  /* color: #F255FF; */
  color: black;
  justify-content: center;
  background-color: #0000ff;
  user-select: none;
  -webkit-user-select: none;
}
.landingprime h1 {
  font-weight: 500;
  font-size: 3.6em;
  left: -0.06em;
  position: relative;
}
.landingprime h2 {
  font-weight: 600;
  font-size: 1.3em;
}
.landingprime p, .landingprime a {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.landing > *, .more > * {
  padding: 0 20px;
}

.more {
  background-color: rgb(241, 234, 232);
  background-image: radial-gradient(rgb(192, 192, 192) 1px, transparent 0);
  background-size: 36px 36px;
  font-size: 1.2em;
  line-height: 1.4em;
}
.moretitle {
  margin: 0 0 40px 0;
  font-weight: bold;
}
.parag {
  margin-bottom: 80px;
  padding-top: 40px;
}
.parag h3 {
  margin-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1em;
}
.parag:last-child h3 {
  word-break: break-all;
}

.moreone .parag p {
  margin-bottom: 2em;
}
.parag > p {
  margin-bottom: 1em;
}
.parag > ul {
  margin-bottom: 1em;
  padding: 0 20px;
  line-height: 1.2em;
}
.parag > ul > ul {
  padding: 0 20px;
}
.parag > ul > li,
.parag > ul > ul > li {
  margin-bottom: 15px;
}

.langbut, .menubut {
  position: fixed;
  right: 15px;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  background: #F255FF;
  font-size: 1.2em;
  color: black;
  cursor: pointer;
  line-height: 1em;
}
.langbut {
  top: 12px;
}
.menubut {
  bottom: 20px;
}
.morefour {
  font-size: 0.9em;
  font-style: italic;
  color: blue;
}

/* ---------- MIDSIZE ---------- */
@media (max-width: 1000px) and (min-width: 560px) {
  .landing > *, .more > *  {
    padding: 0;
    width: 80%;
  }
  .landingprime h1 {
    font-size: 6em;
  }
  .landingprime h2 {
    font-size: 1.2em;
  }
  .more {
    font-size: 1.5em;
    line-height: 1.3em;
  }

  .langbut, .menubut {
    right: 30px;
    width: 60px;
    height: 60px;
    font-size: 1.6em;
  }
  .langbut {
    top: 30px;
  }
  .menubut {
    bottom: 30px;
  }
}

/* ---------- DESKTOP ----------- */
@media (min-width: 1000px) {
  .landing > *, .more > *  {
    padding: 0;
    width: 66%;
  }
  .landingprime h1 {
    font-size: 8em;
  }
  .landingprime h2 {
    font-size: 1.8em;
  }
  .landingprime p,
  .landingprime a {
    /* font-weight: 500; */
    font-size: 1.4em;
  }

  .more {
    font-size: 1.8em;
    line-height: 1.4em;
  }
  .parag h3 {
    font-size: 2.4em;
  }
  .parag > ul,
  .parag > ul > ul {
    margin-bottom: 1em;
    padding: 0 30px;
    line-height: 1.4em;
  }
  .langbut, .menubut {
    right: 30px;
    width: 60px;
    height: 60px;
    font-size: 1.6em;
  }
  .langbut {
    top: 30px;
  }
  .menubut {
    bottom: 30px;
  }
}