.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-height) 0;
  min-height: 100vh;
  color: #eee;
  justify-content: center;
  background-color: #000;
  user-select: none;
  -webkit-user-select: none;
}
.landingprime {
  width: 66%;
  font-family: var(--space-font);
}
.landingprime h1 {
  font-weight: 400;
  font-size: 8em;
  left: -0.06em;
  position: relative;
}
.landingprime h2 {
  font-weight: 300;
  font-size: 1.9em;
}
.landingprime p,
.landingprime a {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* ------------------------------- */
.more {
  padding: var(--header-height) 0;
  min-height: 100vh;
  background-color: black;
  background-image: radial-gradient(#464646 1px, transparent 0);
  background-size: 38px 38px;
}
.moretitle,
.moreparags  {
  position: relative;
  color: #eee;
}
.moretitle {
  margin-bottom: 40px ;
  padding-left: 2em;
  font-size: 2em;
  font-family: var(--space-font);
}
.moretitle h3 {
  font-weight: 300;
}

/* ------------------------------- */
.langbut,
.menubut {
  position: fixed;
  background: #0000ff;
  font-family: var(--space-font);
  color: #f0ecf1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 5;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 1.6em;
  border: none;
  cursor: pointer;
}
.langbut {
  top: 30px;
}
.menubut {
  bottom: 30px;
}

/* ------------------------------- */
.scroller {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  background: #0000ff;
  color: #eee;
  font-size: 3em;
  font-weight: 300;
  padding: 0;
  height: var(--header-height);
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 14s linear infinite;
}
.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* ------------ MEDIUM ----------- */
@media (max-width: 900px) and (min-width: 600px) {
  .landingprime h1 {
    font-size: 6em;
  }
}

/* ------------ MOBILE ------------ */
@media (max-width: 600px) {
  .landingprime {
    width: 100%;
    padding: 0 20px;
  }
  .landingprime h1 {
    font-size: 3.6em;
  }
  .landingprime h2 {
    font-size: 1.3em;
  }
  .landingprime p,
  .landingprime a {
    font-size: 1.2em;
  }
  .more {
    padding-bottom: 0;
  }
  .moretitle {
    padding-left: 20px;
    font-size: 1.4em;
  }
  .moreparags {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .langbut,
  .menubut {
    right: 20px;
    width: 48px;
    height: 48px;
    font-size: 1.2em;
  }
  .langbut {
    top: 20px;
  }
  .menubut {
    bottom: 20px;
  }
}