.container {
  position: relative;
  width: calc(100vw - 15px);
  display: grid;
  grid-template-columns: 290px 370px;
  justify-content: center;
  background-color: #000;
  padding: 30px 0 20px;
}
.logo {
  margin-bottom: 30px;
  height: 60px;
  max-width: 100%;
  position: relative;
}

/* ----------- mobile ----------- */
@media (max-width: 720px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}