.sponsorship {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #eee;
  padding: var(--padding);
}
.sponsorship p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
  font-family: var(--sans-font);
  max-width: 880px;
}

.logocontainer {
  position: relative;
  /* width: calc(100vw - 15px); */
  width: 100%;
  display: grid;
  grid-template-columns: 240px 80px 210px 360px;
  justify-content: center;
  background-color: black;
  padding: var(--padding) 0;
}
.logo {
  height: 56px;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 900px) and (min-width: 600px) {
  .logocontainer {
    grid-template-columns: 240px 360px;
  }
}

/* ----------- MOBILE ----------- */
@media (max-width: 600px) {
  .logocontainer {
    grid-template-columns: 1fr;
  }
  .logo {
    height: 48px;
    margin-bottom: 30px;
  }
}