.scroller {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  background: #0000ff;
  color: #eee;
  font-size: 3em;
  font-weight: 300;
  padding: 0;
  height: var(--header-height);
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 14s linear infinite;
}
.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}